body{
    background-image: url(https://images.unsplash.com/photo-1478737270239-2f02b77fc618?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 45% 45%;
    margin: 0 0;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 20px;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 100px;
    transition: all 0.5s;
    color: white;
}

.header:hover{
    color: teal;
    cursor: none;
    outline: 0;
}

button{
    font-family: 'VT323', monospace;
    font-size: 50px;
    background-color: white;
    color: black;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.box{
    border: 2px solid white;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 30px;
}

.box-model{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns{
    display: flex;
    justify-content: space-around;
    width: 350px;
}

